*{
    padding: 0;
    margin: 0;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color:#9845a0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #9845a0;
  }
  
  div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  #home{
    padding-left: 20px;
}

#contact{
    padding-left: 20px;
}

#about{
    padding-left: 20px;
}


li {
    display: inline-flex;
    bottom: 250px;
    position: relative; left: 350px; top: -100px;
    justify-content: space-between;
    margin: 5px;
    padding: 3px;
}
